.dex-promotion-main .dex-promotion-header {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-weight: 600;
}

.dex-promotion-main .dex-promotion-signup {
    flex: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.dex-promotion-main .dex-promotion-box {
    height: 100%;
}

.dex-promotion-main .dex-promotion-wrapper__image {
    flex: 1;
}

.dex-promotion-main .dex-promotion-wrapper__image img {
    width: 60%;
    display: block;
}

.dex-promotion-main .dex-promotion-wrapper__desc {
    margin-bottom: 5rem;
}

.dex-promotion-main .dex-promotion-wrapper {
    height: 100%;
    padding: calc(2rem / var(--font-body-scale));
    text-align: left;
    max-width: 40rem;
    display: flex;
    flex-direction: column;
}

.dex-promotion-main .dex-promotion-form {
    margin-bottom: 2rem;
}

.dex-promotion-main .dex-promotion-form__field-wrapper {
    margin-left: 10%;
}

.dex-promotion-main .dex-promotion-form__field-wrapper .field {
    display: block;
}

.dex-promotion-main .dex-promotion-form__field-wrapper .field::before {
    visibility: hidden;
}

.dex-promotion-main .dex-promotion-form__field-wrapper .field::after {
    visibility: hidden;
}


.dex-promotion-main .dex-promotion-form__button {
    font-size: calc(var(--font-heading-scale) * 1.5rem);
    margin-top: 1.2rem;
    width: 100%;
    padding: 0;
    min-height: calc(4.5rem + var(--buttons-border-width)* 2);
}

.dex-promotion-main .dex-promotion-reserve {
    background-color: #ff3131;
    font-size: min(6.2vw, 6.2rem);
    line-height: min(6.2vw, 6.2rem);
    padding: 1.2rem 0;
    /* // font-size: calc(var(--font-heading-scale) * 6.2rem);
    // line-height: calc(var(--font-heading-scale) * 10rem); */
    text-align: center;
}

.dex-promotion-main .dex-promotion-kameta {}

.dex-promotion-main .dex-promotion-kameta__box {
    padding: 1.2rem
}

.dex-promotion-main .dex-promotion-kameta__wrapper {
    border: 0.2rem solid #fff;
    padding: 1.2rem
}

.dex-promotion-main .dex-promotion-kameta__wrapper-area1 {
    position: relative;
    height: 50vh;
}

.dex-promotion-main .dex-promotion-kameta__wrapper-area2 {
    display: flex;
}
.dex-promotion-main .dex-promotion-kameta__wrapper-area2 > div:nth-child(1) {
    font-size: 4.5vw;
    padding: 4rem 8rem;
    min-width: 40%;
    text-align: center;
}
.dex-promotion-main .dex-promotion-kameta__wrapper-area2 > div:nth-child(2) {
    flex:1
}
.dex-promotion-main .dex-promotion-kameta__wrapper-area2 > div:nth-child(2) > div:nth-child(2) {
    position: relative;
}


@media screen and (max-width: 750px) {
    .dex-promotion-main .dex-promotion-wrapper {
        max-width: 100%;
    }

    .dex-promotion-main .dex-promotion-wrapper__desc {
        width: 80%;
        margin-bottom: 1.2rem;
    }

    .dex-promotion-main .dex-promotion-form__field-wrapper {
        margin-left: 0;
    }

    .dex-promotion-main .dex-promotion-header {
        /* padding-bottom:env(safe-area-inset-bottom,10vh) */
        height: 85vh;
    }
}