.dex-reserve-main {

}
.dex-reserve-main img {
    width: 100%;
}
.dex-reserve-main button{
    font-size: calc(var(--font-heading-scale)* 2rem);;
}
.dex-reserve-main .dex-reserve-header {

}
.dex-reserve-main .dex-reserve-header__box {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 1.8rem 0;
    position: relative;
}
.dex-reserve-main .dex-reserve-header__box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-image: url('yang-reserve-pc-01.png');
    background-size: contain;
    background-position: right center;
    background-repeat: no-repeat;
    opacity: 0.5; /* 设置透明度 */
}
.dex-reserve-main .dex-reserve-header__box-title {
    font-size: min(7.2rem,7.2vw);
    font-weight: 600;
    text-align: center;
    position: relative;
}
.dex-reserve-main .dex-reserve-header__area1 {
    flex:1;
    display:flex;
    padding-bottom: 3rem;
    position: relative;
}

.dex-reserve-main .dex-reserve-header__area1-left {
    font-size: calc(var(--font-heading-scale)* 2.8rem);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.dex-reserve-main .dex-reserve-header__area1-left > div{
    margin-bottom: 1.8rem;
}
.dex-reserve-main .dex-reserve-header__area1-list {

}
.dex-reserve-main .dex-reserve-header__area1-list .dex-reserve-header__area1-list-li {
    display: flex;
}
.dex-reserve-main .dex-reserve-header__area1-list .dex-reserve-header__area1-list-ico {
    background-image: url('yang-reserve-02.png');
    width:calc(var(--font-heading-scale)* 3.6rem);
    background-size: cover;
    transform: scale(.6);
}
.dex-reserve-main .dex-reserve-header__area1-list .dex-reserve-header__area1-list-ico.ico2 {
    background-position-x: 33%;
}
.dex-reserve-main .dex-reserve-header__area1-list .dex-reserve-header__area1-list-ico.ico3 {
    background-position-x: 68%;
}

.dex-reserve-main .dex-reserve-header__area1-left button {
    width: 100%;
    margin: 1.8rem 0 3rem;
    border-radius: 2.4rem;
    box-shadow:none;
}
.dex-reserve-main .dex-reserve-header__area1-left button::after,
.dex-reserve-main .dex-reserve-header__area1-left button::before{
    display: none;
}
.dex-reserve-main .dex-reserve-header__area1-button-claim {
    background-color: #ff3131;
}
.dex-reserve-main .dex-reserve-header__area1-button-follow {
    background-color: #00bf63;
}
.dex-reserve-main .dex-reserve-header__area1-right {
    width:40%;
    flex-shrink: 0;
    margin-left: 4.8rem;
    background-image: url('yang-reserve-pc-01.png');
    background-size: 94% auto;
    background-position: center;
    background-repeat: no-repeat;
}
/* .dex-reserve-main .dex-reserve-header__area1-right img {
    width: 100%;
} */
.dex-reserve-header__box-tipImage {
    display: none;
    flex-direction: column;
    height: 40wh;
    background-image: url('yang-reserve-mob-03.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.dex-reserve-header__box-tipImage div{
    width: 30%;
}
.dex-reserve-header__box-tipImage div:last-child{
    position: absolute;
    right: 0;
    bottom: 0;
}
@media screen and (max-width: 750px) {
    .dex-reserve-header__box-tipImage {
        display: block;
    }
}