.dex-reserve-main {
}
.dex-reserve-main .dex-reserve-header {

}
.dex-reserve-main .dex-reserve-header__box {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 1.8rem 0;
}
.dex-reserve-main .dex-reserve-header__box-title {
    font-size: min(7.2rem,7.2vw);
    font-weight: 600;
    text-align: center;
}
.dex-reserve-main .dex-reserve-header__area1 {
    flex:1;
    display:flex;
    padding-bottom: 3rem;
}

.dex-reserve-main .dex-reserve-header__area1-left {
    font-size: calc(var(--font-heading-scale)* 2.8rem);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.dex-reserve-main .dex-reserve-header__area1-left > div{
    margin-bottom: 1.8rem;
}
.dex-reserve-main .dex-reserve-header__area1-left button {
    width: 100%;
    margin: 1.8rem 0 3rem;
    border-radius: 2.4rem;
    box-shadow:none;
}
.dex-reserve-main .dex-reserve-header__area1-left button::after,
.dex-reserve-main .dex-reserve-header__area1-left button::before{
    display: none;
}
.dex-reserve-main .dex-reserve-header__area1-left button:nth-child(1) {
    /* background-color: #00bf63; */
    background-color: #ff3131;
}
.dex-reserve-main .dex-reserve-header__area1-left button:last-child {
    /* background-color: #00bf63; */
    /* background-color: #ff3131; */
}
.dex-reserve-main .dex-reserve-header__area1-right {
    width:40%;
    flex-shrink: 0;
    margin-left: 4.8rem;
}
.dex-reserve-main .dex-reserve-header__area1-right img {
    width: 100%;
}
@media screen and (max-width: 750px) {
}