.dex-reserve-main {

}
.dex-reserve-main .dex-reserve-header__box-title {
    font-size: min(7.2rem,7.2vw);
    font-weight: 600;
}
.dex-reserve-main .dex-reserve-header__area1 {
    display:flex;
}
.dex-reserve-main .dex-reserve-header__area1-left {
    font-size: calc(var(--font-heading-scale)* 2.4rem);
}
.dex-reserve-main .dex-reserve-header__area1-left > div {
    margin-bottom: 1.2rem;
}
.dex-reserve-main .dex-reserve-header__area1-right {
    width:40%;
    margin-left: 1.2rem;
}
.dex-reserve-main .dex-reserve-header__area1-right img {
    width: 100%;
}
@media screen and (max-width: 750px) {
}