

/* :root { */
    /* --color-background: 0,0,0; */
    /* --gradient-background: #121212;
    --color-foreground: 255, 255, 255;
    --color-background-contrast: 146, 146, 146;
    --color-shadow: 18, 18, 18;
    --color-button: 126, 217, 87;
    --color-button-text: 255, 255, 255;
    --color-secondary-button: 18, 18, 18;
    --color-secondary-button-text: 126, 217, 87;
    --color-link: 126, 217, 87;
    --color-badge-foreground: 255, 255, 255;
    --color-badge-background: 18, 18, 18;
    --color-badge-border: 255, 255, 255;
    --payment-terms-background-color: rgb(18 18 18); */
/* } */

.dex-main {
    /* background-color: rgba(var(--color-background), 1); */
    background-color: #ff0000;
}