{{ 'yang-base.scss' | asset_url | stylesheet_tag }}
{{ 'yang-promotion.scss.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .dex-promotion-header {
    background-image: url({{'yang-promotion01.png'|asset_url}});
  }
{%- endstyle -%}

<div class="dex-main dex-promotion-main">
  <section class="dex-promotion-header">
    <div class="dex-promotion-box page-width">
      <div class="dex-promotion-wrapper">
        <img src="{{ 'yang-promotion02.png' | asset_url }}">
        <h2 class="inline-richtext h2">
          A Revolutionary Quick-Swap Design That Redefines Knife Customization in Just 30 Seconds!
        </h2>
      </div>
    </div>
  </section>
</div>
