{{ 'yang/base.css' | asset_url | stylesheet_tag }}
{{ 'yang/promotion/promotion.scss.css' | asset_url | stylesheet_tag }}

<div class='dex-main dex-promotion-main'>
    <section class='dex-promotion__header'>
        <div class='dex-promotion__wrapper'>

        </div>
    </section>
</div>